{% extends 'sns/layout.html' %}

{% block title %}Index{% endblock %}

<!-- ヘッダー -->
{% block header %}
<h1 class="display-4 text-primary">SNS</h1>
{% if messages %}
<div>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endif %}
{% endblock %}

{% block content %}
<!-- 投稿フォーム -->
<form action="{% url 'post' %}" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button class="btn btn-primary">Post!</button>
</form>

<!-- メッセージ閲覧 -->
<table class="table mt-3">
    <tr>
        <th>Message</th>
    </tr>
    {% for item in contents %}
    <tr>
        <td>
            <p class="fs-4 my-0">{{ item.content }}</p>
            <p class="my-0 text-end">
                <span class="fs-5">{{ item.owner }}</span>
                <span class="fs-6">{{ item.pub_date }}</span>
            </p>
            <p class="mt-1 fs-6 text-end">
                <span class="float-right">
                    {% if item.owner != login_user %}
                    <a href="{% url 'good' item.id %}">
                        <button class="py-0 px-1 btn btn-outline-primary">
                            good!</button></a>
                    {% endif %}
                </span>
            </p>
        </td>
    </tr>
    {% endfor %}
</table>

<!-- ページャー -->
<ul class="pagination justify-content-center">
    <!-- 前に行く処理 -->
    {% if contents.has_previous %}
    <li class="page-item">
        <a href="{% url 'index' %}" class="page-link">＜＜最初</a>
    </li>
    <li class="page-item">
        <a href="{% url 'index' %}{{contents.previous_page_number}}" class="page-link">＜前</a>
    </li>
    {% else %}
    <!-- 1ページ目 -->
    <li class="page-item">
        <a class="page-link">＜＜最初</a>
    </li>
    <li class="page-item">
        <a class="page-link">＜前</a>
    </li>
    {% endif %}
    <!-- ページ番号の表示 -->
    <li class="page-item">
        <a class="page-link">{{contents.number}}/{{contents.paginator.num_pages}}</a>
    </li>

    <!-- 後ろに行く処理 -->
    {% if contents.has_next %}
    <li class="page-item">
        <a href="{% url 'index' %}{{ contents.next_page_number }}" class="page-link">次＞</a>
    </li>
    <li class="page-item">
        <a href="{% url 'index' %}{{contents.paginator.num_pages}}" class="page-link">最後＞＞</a>
    </li>
    {% else %}
    <!-- 最後のページの場合 -->
    <li class="page-item">
        <a class="page-link">次＞</a>
    </li>
    <li class="page-item">
        <a class="page-link">最後＞＞</a>
    </li>
    {% endif %}
</ul>
{% endblock %}