{% extends 'sns/layout.html' %}

{% block title %}Post{% endblock %}

<!-- ヘッダー -->
{% block header %}
<h1 class="display-4 text-primary">SNS</h1>
<p>メッセージを投稿します。</p>
{% endblock %}

{% block content %}
<!-- メッセージ閲覧 -->
<table class="table mt-3">
    <tr>
        <th>Message</th>
    </tr>
    {% for item in contents %}
    <tr>
        <td>
            <p class="fs-4 my-0">{{ item.content }}</p>
            <p class="my-0 text-end">
                <span class="fs-5">{{ item.owner }}</span>
                <span class="fs-6">{{ item.pub_date }}</span>
            </p>
            <p class="mt-1 fs-6 text-end">
                <span class="float-right">
                    {% if item.owner != login_user %}
                    <a href="">
                        <button class="py-0 px-1 btn btn-outline-primary">
                            good!</button></a>
                    {% endif %}
                </span>
            </p>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}