.text-hizurun-gr {
  background: linear-gradient(to bottom, #ffb4c1, #ffb1bf, #fbc2c9, #ffd1d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.bg-hizurun-gr {
  background: linear-gradient(to bottom, #ffb4c1, #ffb1bf, #fbc2c9, #ffd1d9);
}

.border-btm-hizurun-gr {
  position: relative;
  padding-bottom: 2px;
}

.border-btm-hizurun-gr::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* ボーダーの高さを指定 */
  background: linear-gradient(
    to bottom,
    #ffb4c1,
    #ffb1bf,
    #fbc2c9,
    #ffd1d9
  ); /* グラデーションの設定 */
  border-radius: 2px; /* 任意で角を丸くする */
}
.btn-hizurun-gr {
  background: linear-gradient(to bottom, #ffb4c1, #ffb1bf, #fbc2c9, #ffd1d9);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-hizurun-gr:hover {
  background: linear-gradient(to bottom, #fcb8c5, #fcaebf, #ffc0c9, #ffdfdf);
}
